.ht__bradcaump__area{  style: "background-color:#bcbcbc" }
  .container
    .row
      .col-lg-12
        .bradcaump__inner.text-center
          %h2.bradcaump-title Register
          %nav.bradcaump-content
            %a.breadcrumb_item{:href => "/"} Home
            %span.brd-separetor /
            %span.breadcrumb_item.active Register
.container
  %br/
  %br/
  %br/
  .row
    .col-lg-3
    .col-lg-6
      .card
        %h5.card-header.elegant-color.white-text.text-center.py-4
          %strong Sign up
        .card-body.px-lg-5.pt-0
          = form_for(resource, as: resource_name,   |
             url: registration_path(resource_name), |
             builder: RegisterFormBuilder,          |
             class: 'text-center',                  |
             style: 'color: #757575') do |f|        |
            .form-row
              .col
                %br/
                .md-form
                  = f.text_field :first_name, class: 'form-control', |
                    id: 'materialRegisterFormFirstName',             |
                    placeholder: 'Firstname'
              .col
                %br/
                .md-form
                  = f.text_field :last_name, class: 'form-control', |
                    id: 'materialRegisterFormLastName',             |
                    placeholder: 'Lastname'
            
            = f.date_field :birthdate, class: 'form-control datepicker', |
              id: 'materialRegisterFormBirthdate'  
            = f.email_field :email, class: 'form-control', |
              id: 'materialRegisterFormEmail',             |
              placeholder: 'E-mail'
            = f.password_field :password,        |
              class: 'form-control',             |
              id: 'materialRegisterFormPassword', |
              placeholder: 'Password'
            = f.password_field :password_confirmation,       |
              class: 'form-control',                         |
              id: 'materialRegisterFormPasswordConfirmation', |
              placeholder: 'Confirm Password'
            %br/
            .row
              .col-lg-12.col-md-12
                - if flash[:error].present?
                  %div{:class => "alert alert-danger"}
                    %center
                      = flash[:error]
                - else 
                  %span{id: "error_message"}
                %div
                  = f.submit "Register",                |
                    class: 'btn btn-rounded |
                    btn-block waves-effect z-depth-0 btn-black'   |
    .col-lg-3
%br/
%br/
= javascript_include_tag 'register.js'
