.container
  .col-md-12.col-lg-12.mb-5
    %br/
    .card
      .card-body
        / Shopping Cart table
        .table-responsive
          %table#shopping.table.product-table
            / Table head
            %thead.elegant-color
              %tr
                %th
                %th.font-weight-bold
                  %strong Product
                %th
                %th.font-weight-bold
                  %strong Price
                %th.font-weight-bold
                  %strong Quantity
                %th.font-weight-bold
                  %strong Amount
                %th.font-weight-bold
                  %strong Item Type
                %th
                  %strong Action
            %tbody.tbody-res
              - @cart_products.each do |cart_product|
                %tr{:id => "row-#{cart_product.id}"}
                  %th{:scope => "row"}
                    - if cart_product.product.nil?
                      = image_tag "cart_logo", class: 'img-thumbnail z-depth-0', width: 75, height: 75
                    - unless cart_product.product.nil?
                      = image_tag cart_product.product.nil? ? "" : cart_product.product.image.url, class: 'img-thumbnail z-depth-0', width: 75, height: 75
                  %td
                    %h6.mt-3
                      %strong= cart_product.product.nil? ? "" : cart_product.product.name
                  %td
                  %td
                    %span{:class => "#{cart_product.product.nil? ? cart_product.price * @exchange_rate : cart_product.product.price}", :id => "price-#{cart_product.id}"}
                      %br/
                      = number_to_currency(cart_product.product.nil? ? cart_product.price * @exchange_rate : cart_product.product.price  , :unit => "₱", :separator => ".", :delimiter => ",")
                  %td.center-on-small-only
                    .btn-group.radio-group.ml-2{"data-toggle" => "buttons"}
                      %label.btn.btn-sm.btn-rounded.waves-effect.waves-light.lbl-color-white{:id => "quantity-minus-#{cart_product.id}"}
                        %input{:name => "options", :type => "radio"}>/
                        —
                      %input.form-control{:disabled => "disabled", :id => "quantity-#{cart_product.id}", :type => "text", :value => "#{cart_product.quantity}"}/
                      %label.btn.btn-sm.btn-rounded.waves-effect.waves-light.active.lbl-color-white{:id => "quantity-plus-#{cart_product.id}"}
                        %input{:name => "options", :type => "radio"}>/
                        +
                  %td.font-weight-bold
                    %br/
                    %strong
                      %span{:id => "amount-#{cart_product.id}"}
                  %td
                    %br/
                    = cart_product.product.nil? ? "<span class='badge badge-success text-white'>Not on Hand</span>".html_safe : "<span class='badge badge-info text-white'>On Hand</span>".html_safe
                  %td
                    %button.btn.btn-sm.waves-effect.waves-light.lbl-remove-item{"data-original-title" => "Remove item", "data-placement" => "top", "data-toggle" => "tooltip", :id => "delete-#{cart_product.id}", :style => "", :title => "", :type => "button"}
                      X
              %tr
                %td{:colspan => "3"}
                %td
                  %h4.mt-2
                    %strong Total
                %td.text-right
                  %h4.mt-2
                    %strong
                      ₱
                      %span#txt-subtotal
                %td.text-right{:colspan => "3"}
                  .btn-group
                    %button#checkout.btn.btn-rounded.waves-effect.waves-light.lbl-color-white{:type => "button"}
                      Complete purchase
                      %i.fas.fa-angle-right.right
                    %button#continue_shopping.btn.btn-rounded.waves-effect.waves-light{:type => "button"}
                      %i.fas.fa-angle-left.left>
                      Continue Shopping
        / /.Shopping Cart table
= stylesheet_link_tag  'cart.css'
= javascript_include_tag 'cart.js'
