= render 'devise/shared/page_directory', current_location: 'Cart'
.cart-main-area.section-padding--lg.bg--white
  %br/
  .container
    .row
      .col-md-12.col-sm-12.ol-lg-12
        %form{:action => "#"}
          .table-content.wnro__table.table-responsive
            %table
              %thead
                %tr.title-top
                  %th.product-thumbnail Image
                  %th.product-name Product
                  %th.product-price Price
                  %th.product-quantity Quantity
                  %th.product-item-type Item Type
                  %th.product-subtotal Total
                  %th.product-remove Remove
              %tbody
                - @cart_products.each do |cart_product|
                  %tr{:id => "row-#{cart_product.id}"}
                    %td.product-thumbnail
                      %a{:href => "#"}
                        - if cart_product.try(:product)
                          = image_tag cart_product.product.nil? ? "" : cart_product.product.image.url
                        - else
                          = image_tag "cart_logo"
                    %td.product-name
                      %a{:href => "#"} 
                        = cart_product.product.try(:name)
                    %td.product-price
                      %span.amount{ :class => "#{cart_product.product.nil? ? cart_product.price * @exchange_rate : cart_product.product.price}", :id => "price-#{cart_product.id}" }
                        = number_to_currency(cart_product.product.nil? ? cart_product.price * @exchange_rate : cart_product.product.price  , :unit => "₱", :separator => ".", :delimiter => ",")
                    %td.product-quantity
                      -# %input{:type => "number", :value => "1"}/
                      .btn-group{"data-toggle" => "buttons", style:"height:48px"}
                        %label.btn.btn-sm.btn-rounded.waves-effect.waves-light.lbl-color-white{:id => "quantity-minus-#{cart_product.id}"}
                          %input{:name => "options", :type => "radio"}>/
                          —
                        %input.form-control{:disabled => "disabled", :id => "quantity-#{cart_product.id}", :type => "text", :value => "#{cart_product.quantity}", style:"width:30px"}/
                        %label.btn.btn-sm.btn-rounded.waves-effect.waves-light.active.lbl-color-white{:id => "quantity-plus-#{cart_product.id}"}
                          %input{:name => "options", :type => "radio"}>/
                          +
                    %td.product-item-type
                      = cart_product.try(:product) ? "<span class='badge badge-info text-white'>On Hand</span>".html_safe :  "<span class='badge badge-success text-white'>Not on Hand</span>".html_safe
                    %td.product-subtotal
                      %strong
                        %span{:id => "amount-#{cart_product.id}"}
                    %td.product-remove
                      %a{:href => "#"}
                        %button.btn.btn-sm.waves-effect.waves-light.lbl-remove-item{"data-original-title" => "Remove item", "data-placement" => "top", "data-toggle" => "tooltip", :id => "delete-#{cart_product.id}", :title => "", :type => "button"}
                          X
        .cartbox__btn
          %ul.cart__btn__list.d-flex.flex-wrap.flex-md-nowrap.flex-lg-nowrap.justify-content-between
            %li
              %a{:href => "#", id: "continue_shopping"} Continue Shopping
            %li
              %a{:href => "#", id: "checkouts"} Check Out

= stylesheet_link_tag  'cart.css'
= javascript_include_tag 'cart.js'
