!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BagsBuddy
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'css/bootstrap.min.css'
    = stylesheet_link_tag 'css/plugins.css'
    = stylesheet_link_tag 'style.css'
    = stylesheet_link_tag 'css/custom.css'

    = javascript_include_tag 'js/vendor/modernizr-3.5.0.min.js'
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    -# / JQuery
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", :type => "text/javascript"}
  %body
    %header.wrapper{ id: "wrapper" }
      = render 'devise/shared/nav'
      = yield
      = render 'devise/shared/footer'
      
      = javascript_include_tag 'js/vendor/jquery-3.2.1.min.js'
      = javascript_include_tag 'js/popper.min.js'
      = javascript_include_tag 'js/bootstrap.min.js'
      = javascript_include_tag 'js/plugins.js'
      = javascript_include_tag 'js/active.js'
  